body {
  font-family: sans-serif;
}
/* canvas {
  width: 300px;
  height: 300px;
} */


#test1 {
  border: 3px solid red;
}

#test2 {
  border: 3px solid blue;
}

#box {
  width: 30px;
  height: 30px;
  background-color: gray;
  margin-left: 3px;
  
}